// Color
$rogers-aqua         : #00A0B7;
$rogers-aqua-m       : #68CADA;
$rogers-aqua-l       : #BBE4EC;
$rogers-red          : #DA291C;
$rogers-yellow       : #FFBF3F;
$rogers-gray         : #414042;
$rogers-gray-m       : #808284;
$rogers-gray-l       : #BBBDC0;
